@{
    ViewData["Title"] = "Password Reset Link Sent";
    Layout = null;
}
<!DOCTYPE  html>
    <html lng ="en">
        <head>
            </head>
            <body>
            <div class="alert alert-success" text-align ="center">
           <center>
                <h5>Check your email</h5>
                <p>If an account exists with this email, you will receive a password reset link.</p>
        </center>
            </div>
            </body>
        
    </html>


