@{
    ViewData["Title"] = "Password Reset Successful";
    Layout = null;
}
<!DOCTYPE html>
<html lng="eng">
<head>
</head>
<body>
<div class="alert alert-success">
    <center>
    <h5>Your password has been reset!</h5>
    <p>You can now <a asp-action="Login">log in</a> with your new password.</p>
     </center>
</div>
</body>
</html>