@{
    ViewData["Title"] = "Password Reset Successful";
}
<div class="alert alert-success">
    <h5>Your password has been reset!</h5>
    <p>You can now <a asp-action="Login">log in</a> with your new password.</p>
</div>
